<html>
	<head></head>
	<body>
		<div>
		<div style="width:25%">
			<a href="Admin/Blog" >Blogs</a>
			<a href="Comment/Index">Comments</a>
			<a href="Admin/Blog">Contact</a>
		</div>
		<h4>Admin panel</h4>
		@RenderBody()
		<div style="margin-left:25%">
			
		</div>
		</div>
	</body>
</html>